<div class="container">
  <section class="pokemon-detail">
    <div class="pokemonid">1</div>
    <img src="http://assets2.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
    <div class="stats">
      <h2>Bulbasaur</h2>
      <p>A Bulbasaur es fácil verle echándose una siesta al sol. La semilla que tiene en el lomo va creciendo cada vez más a medida que absorbe los rayos del sol.</p>
      <h3>Peso</h3>6.9 Kg
      <h3>Altura</h3>0.7 m
      <h3>TIPO</h3>
      <ul>
        <li class="type planta">Planta</li>
        <li class="type veneno">Veneno</li>
      </ul>
      <h3>DEBILIDAD</h3>
      <ul>
        <li class="type fuego">Fuego</li>
        <li class="type volador">Volador</li>
        <li class="type hielo">Hielo</li>
        <li class="type psiquico">Psiquico</li>
      </ul>
      <h3>EVOLUCIONES</h3>
      <ul>
        <li class="evolution">
          <h4>Ivysaur</h4>
          <img src="http://assets2.pokemon.com/assets/cms2/img/pokedex/detail/002.png">
        </li>
        <li class="evolution">
          <h4>Venusaur</h4>
          <img src="http://assets2.pokemon.com/assets/cms2/img/pokedex/detail/003.png">
        </li>
      </ul>
    </div>
  </section>
</div>